<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greeting Page</title>
</head>
<body>
    <h2>Thank You for registering. please enjoy your shopping</h2>
</body>
</html>