
@{
    Layout = "_Layout";
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Sons and Sons Electronics</h2>
</body>
</html>