<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <title>Sons and Sons Electronics</title>
</head>

<body>
    <div>
        <div style="text-align:center">
            <a class="button" asp-action="SettingsPage">
                <img src="~/images/icon.png" width="50" height="50" align="left" />
            </a>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="button" asp-action="Login" asp-controller="Account">Login|</a>
            }
            else
            {
                @User.Identity.Name
                <a class="button" asp-action="Logout" asp-controller="Account">Logout|</a>
            }
            <a class="button" asp-action="Index">Home Page|</a>
            <a class="button" asp-action="DataPage">Data Page|</a>
            <a class="button" asp-action="Insert">Insert form|</a>
            <a class="button" asp-action="ItemsList">Items List|</a>
            <a class="button" asp-action="UserPage">User Page |</a>
            <a class="button" asp-action="Index" asp-controller="Order">Cart</a>
        </div>
        @RenderBody()
    </div>
</body>
</html>