@model Product
@{
    Layout = "_Layout";
}

<form asp-action="Edit" method="post">
    <h3>Registration Form</h3>
    <div class="form-group">
        <label>Product ID: </label><input type="hidden" asp-for="ProductID" class="form-control" />
    </div>
    <div class="form-group">
        <label>Name: </label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description: </label><input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label>$Price: </label><input asp-for="Price" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete " />
    </div>
</form>

