
@{
    Layout = "_Layout";
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Sons and Sons Electronics</h2>

    <style>
        body {
            background-image: url('https://forensicstore.com/wp-content/uploads/2017/08/computer-store-background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</body>
</html>