@using Sample.Controllers
@model ProductRepository
@{
    Layout = "_Layout";
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data Page</title>
</head>
<body>
    <h2>Data Page</h2>
    @foreach (var item in ProductRepository.storeProducts)
    {
        @Html.Partial("ProductData", item)
    }
</body>
</html>