@model CustomerDetails

@{
    Layout = "_Layout";
}

<form asp-action="Insert" method="post">
    <h3>Registration Form</h3>
    @Html.Partial("PartialView")
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete " />
    </div>
</form>
<form asp-action="Index" method="post">
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Cancel" />
    </div>
</form>