@{
    Layout = "_Layout";
}
@{ 
    ViewData["Title"] = "SettingsPage";
    
 }
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Settings Page</title>
</head>
<body>
    <h2>Settings Page</h2>
</body>
</html>