body {
    font-family:Arial, Helvetica, sans-serif;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    background-color:darkgrey;
    /*color: white;*/
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size : 40px;
    text-decoration: underline;
    text-align: center;
    /*color: white;*/
}

a {
    color: red;
    text-align: center;
    display:inline-block;
}


img {
    border-radius: 50%;
}

table, th, td {
    border: 1px solid black;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}


